**/.git
**/.svn
**/.hg
**/CVS
**/node_modules
**/vendor
**/.env
**/env
**/.venv
**/venv
**/.env.bak
**/env.bak
**/.venv.bak
**/venv.bak
**/ENV
**/__pycache__

*.md

.*.js
.*.cjs
.*.mjs
*.js
*.cjs
*.mjs
.*.ts
.*.cts
.*.mts
*.ts
*.cts
*.mts

editor.sublime-project
editor.sublime-workspace
package-lock.json
pnpm-lock.yaml
pnpm-lock.yml
yarn.lock

*.css
