# ---------------------------------------------- #
#                     MariaDB                    #
#                                                #
# Passphase Generators:                          #
# https://bitwarden.com/password-generator/      #
# https://1password.com/password-generator/      #
# ---------------------------------------------- #

MYSQL_ROOT_PASSWORD        = set_mariadb_root_password
MYSQL_DATABASE             = set_mariadb_database
MYSQL_USER                 = set_mariadb_user
MYSQL_PASSWORD             = set_mariadb_password

# ---------------------------------------------- #
#                   phpMyAdmin                   #
# ---------------------------------------------- #

#PMA_HOST                  = mariadb
#PMA_USER                  = ${MYSQL_USER}
#PMA_PASSWORD              = ${MYSQL_PASSWORD}

# ---------------------------------------------- #
#                     Adminer                    #
# ---------------------------------------------- #

ADMINER_DEFAULT_SERVER     = mariadb
ADMINER_DESIGN             = dracula

# ---------------------------------------------- #
#                    WordPress                   #
#                                                #
# Key Generators:                                #
# https://api.wordpress.org/secret-key/1.0/      #
# https://api.wordpress.org/secret-key/1.1/      #
# https://api.wordpress.org/secret-key/1.1/salt/ #
# ---------------------------------------------- #

WORDPRESS_DB_NAME          = ${MYSQL_DATABASE}
WORDPRESS_DB_USER          = ${MYSQL_USER}
WORDPRESS_DB_PASSWORD      = ${MYSQL_PASSWORD}
WORDPRESS_DB_HOST          = 'mariadb:3306'
#WORDPRESS_DB_CHARSET      = 'utf8'
#WORDPRESS_DB_COLLATE      = ''
WORDPRESS_AUTH_KEY         = set_wordpress_auth_key
WORDPRESS_SECURE_AUTH_KEY  = set_wordpress_secure_auth_key
WORDPRESS_LOGGED_IN_KEY    = set_wordpress_logged_in_key
WORDPRESS_NONCE_KEY        = set_wordpress_nonce_key
WORDPRESS_AUTH_SALT        = set_wordpress_auth_salt
WORDPRESS_SECURE_AUTH_SALT = set_wordpress_secure_auth_salt
WORDPRESS_LOGGED_IN_SALT   = set_wordpress_logged_in_salt
WORDPRESS_NONCE_SALT       = set_wordpress_nonce_salt
WORDPRESS_TABLE_PREFIX     = 'dev_'
#WORDPRESS_DEBUG           = false
#WORDPRESS_CONFIG_EXTRA    = ''
